<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">GameShop</a> <!--instead of gameshop we could include a logo here-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="btn btn-danger" routerLink="/register">Sign up</a>
            </li>
        </ul>
    </div>
</nav>

<!--Breaking up the view into 2 columns, we can have a persistent sidebar menu while the main display can be updated as we navigate-->
<div class="container">
    <div class="row">
        <div class="column-sm-1"><!--Sidebar, maybe for navigation?--></div>
        <div class="column span">
            <router-outlet></router-outlet>
            
    </div>
</div>