<form #form="ngForm" ngNativeValidate>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="Username"
      [(ngModel)]="username"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
      [(ngModel)]="password"
      required
    />
  </div>
  <button class="btn btn-dark">
    <a href="register" style="color: white">Sign Up</a>
  </button>
  <button class="btn btn-danger" type="submit" (click)="loginUser()">
    Log In
  </button>
</form>
