<nav class="navbar col-md-auto col-sm-12 bg-bggame ">
    <div class="container">
        <a class="mr-3 ml-3 btn bg-dark text-white" routerLink="/GameStation2">GameStation2</a>
        <a class="mr-3 ml-3 btn bg-dark text-white" routerLink="/Xcube">XCube</a>
        <a class="mr-3 ml-3 btn bg-dark text-white" routerLink="/Playbox">Playbox</a>
        <a class="mr-3 ml-3 btn bg-dark text-white" routerLink="/DreamCast">DreamCast</a>
    </div>
</nav>




<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="ml-3 mr-3" *ngFor="let item of allGames">

            <div class="" style="width: 150px;">
                <div class="d-flex align-items-center justify-content-center mb-2" style="height: 200px;">
                    <img src={{item.image}} width="150" class="rounded" [routerLink]="['/game/', item.upc]"
                        type="button">
                </div>

                <a [routerLink]="['/game/', item.upc]" class="text-white">{{item.itemName}}</a>
                <p class="text-white">${{item.price}}</p>

            </div>
        </div>
    </div>
</div>