<nav class="navbar col-md-12 col-sm-12 row bg-secondary ">
    <div class="container col-auto">
        <a class="mr-3 ml-3 btn bg-dark text-white" routerLink="/GameStation2">GameStation2</a>
        <a class="mr-3 ml-3 btn bg-dark text-white" routerLink="/Xcube">XCube</a>
        <a class="mr-3 ml-3 btn bg-dark text-white" routerLink="/Playbox">Playbox</a>
        <a class="mr-3 ml-3 btn bg-dark text-white" routerLink="/DreamCast">DreamCast</a>
    </div>
</nav>



<div class="p-3">
    <div class="col-lg-auto col-md-12">
        <div class="row justify-content-center">
            <div class="col-lg-1 col-md-3 col-sm-3 col-4 ml-sm-1 mr-sm-1 ml-lg-5 mr-lg-5" *ngFor="let item of allGames">

                <div class="product__item">
                    <div class="product__item__pic">
                        <img src= {{item.image}} width="150" height="200" class="rounded">
                    </div>
                    <div class="product__item__text">
                        <p><a [routerLink]="['/game/', item.upc]" class="text-white">{{item.itemName}}</a></p>
                        <p class="text-white">${{item.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>