<nav class="navbar col-lg-auto col-md-12 row bg-secondary">
    <div class="container-fluid">
        <a class="btn bg-dark text-white" routerLink="/itempage">GameStation2</a>
        <a class="btn bg-dark text-white" routerLink="/Xcube">XCube</a>
        <a class="btn bg-dark text-white" routerLink="/Playbox">Playbox</a>
        <a class="btn bg-dark text-white" routerLink="/DreamCast">DreamCast</a>
    </div>
</nav>



<div class="row">
    <div class="col-lg-auto col-md-12 ">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-4 col-4 mr-3" *ngFor="let item of inventory">
                <div class="product__item">
                    <div class="product__item__pic">
                        <img src="data:image/jpeg;base64,{{item.images}}">
                        <!-- src = "data:image/png;base64, JSON.stringify().image"-->
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#" class="text-white">{{item.itemName}}</a></h6>
                        <h5 class="text-white">${{item.price}}</h5>
                    </div>
                </div>
            </div>

            <!-- <h3>UPC: {{item.upc}}</h3>
                <h3>Title: {{item.itemName}}</h3>
                <h3>${{item.price}}</h3>
                <p class="text-white">Synopsis: {{item.description}}</p>
                <h3>image: {{item.images}}</h3>
                <h3>Stock: {{item.stock}}</h3>
                <h3>Platform:{{item.platform}}</h3> -->

        </div>
    </div>



</div>