<div class="container col-md-3 mt-5 bg-bggame p-3 rounded">
    <form>
      <div class="mb-3">
        <h5 class="text-white  d-flex justify-content-center">Enter your email:</h5>
        <input type="text" class="form-control" name="username" placeholder="Email" required />
      </div>
      <div class="d-flex justify-content-center">
      <button class="btn btn-danger" type="submit">
        Send Recovery Email
      </button>
    </div>
    </form>
    <div class="d-flex justify-content-center">
    </div>
    </div>